QMenuBar::item {
  color: #141414;
  background-color: #eeeef2;
}
QMenu,
QMenuBar,
QMenu:disabled,
QMenuBar:disabled {
  color: #141414;
  background-color: #eeeef2;
  border: 1px solid #eeeef2;
}
QMenu::item:selected,
QMenuBar::item:selected {
  background: #abcaf3;
}
QToolButton {
  color: #141414;
  border-style: none;
  border: 1px solid #eeeef2;
  padding: 4px;
  border-radius: 5px;
}
QToolButton:hover {
  border: 1px solid #cdc5bf;
  background: qlineargradient(
      spread: pad,
      x1: 0, 
      y1: 0,  
      x2: 0,  
      y2: 1,  
      stop: 0 #eeeef2, 
      stop: 1 #dddddd 
      );
}
QToolButton:pressed {
  border: 1px solid #cdc5bf;
  background: qlineargradient(
      spread: pad,
      x1: 0, 
      y1: 0,  
      x2: 0,  
      y2: 1,  
      stop: 0 #ffffff, 
      stop: 1 #eeeef2 
      );
}
QToolButton:checked {
  border: 1px solid #cdc5bf;
  background: qlineargradient(
      spread: pad,
      x1: 0, 
      y1: 0,  
      x2: 0,  
      y2: 1,  
      stop: 0 #ffffff, 
      stop: 1 #eeeef2 
      );
}
QToolButton::menu-button {
  border-style: none;
  border: 1px solid #eeeef2;
  color: #141414;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: qlineargradient(
      spread: pad,
      x1: 0, 
      y1: 0,  
      x2: 0,  
      y2: 1,  
      stop: 0 #f7f7f7, 
      stop: 1 #eeeef2 
      );
}
QLineEdit,
QTextEdit,
QPlainTextEdit,
QSpinBox,
QDoubleSpinBox,
QComboBox,
QDateEdit,
QTimeEdit,
QDateTimeEdit {
  font-size: 12px;
  font-family: Microsoft YaHei;
  border: 1px solid #bebebe;
  border-radius: 2px;
  padding: 2px;
  background: none;
  selection-color: #141414;
  selection-background-color: #abcaf3;
}
QComboBox::down-arrow,
QDateEdit[calendarPopup="true"]::down-arrow,
QTimeEdit[calendarPopup="true"]::down-arrow,
QDateTimeEdit[calendarPopup="true"]::down-arrow {
  image: url(:res/down.svg);
  width: 16px;
  height: 16px;
  right: 2px;
}
QComboBox::drop-down,
QDateEdit::drop-down,
QTimeEdit::drop-down,
QDateTimeEdit::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 15px;
  border-left-width: 0px;
  border-left-style: solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left-color: #eeeef2;
}
QLabel {
  font-size: 12px;
  font-family: Microsoft YaHei;
  selection-color: #141414;
  selection-background-color: #abcaf3;
}
QToolBar,
QStatusBar {
  color: #141414;
  background-color: #eeeef2;
  border: 1px solid #eeeef2;
}
QTreeView {
  border: 1px solid #bebebe;
  border-top: 0px;
}
QHeaderView::section,
QTableCornerButton:section {
  font-size: 12px;
  font-family: Microsoft YaHei;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0px;
  color: #141414;
  border-left: 0px;
  border-top: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  background: qlineargradient(
      spread: pad,
      x1: 0, 
      y1: 0,  
      x2: 0,  
      y2: 1,  
      stop: 0 #f7f7f7, 
      stop: 1 #eeeef2 
      );
}
QHeaderView::section:last {
  border-right: 0px;
}
QTreeView,
QListView,
QTableView,
QTabWidget::pane {
  selection-background-color: #abcaf3;
  selection-color: #141414;
}
