#define VI_FILENAME					"冰镜 - 终端行为分析系统"
#define VI_FILEVERSION				1,0,1,0
#define VI_FILEVERSION_STRING		"1.0.1.0"
#define VI_PRODUCTVERSION			VI_FILEVERSION
#define VI_PRODUCTVERSION_STRING	VI_FILEVERSION_STRING
#define VI_FILEDESCRIPTION			VI_FILENAME

#include "base\\windows\\resource\\version.rc2"

100		ICON						"UI\\res\\main.ico"